/* You can add global styles to this file, and also import other style files */
@import '~angular-notifier/styles.css';
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

.container-fornecedor {
  max-width: 800px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fieldset-title {
  color: darkblue;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-primary {
  background-color: #0275d8!important;
}

.input-invalid {
  border-color: #ff0000 !important;
}
